.top-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C1D600;
    max-width: 100%;
    padding: 2rem;
    margin: 0 auto 2rem;
}

.container-new {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 2.0rem;
    position: relative;
    width: 100%;
}

.logo {
    color: #003057 !important;
    text-decoration: none !important;
}


.card1 {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

  .card2 {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

/*Limits the search bar and drop down menu width */
.txtArea { width:150px; height:50px; }

/*select{width:50% !important;}*/

