.top-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C1D600;
    max-width: 100%;
    padding: 2rem;
    margin: 0 auto 2rem;
}

.container-new {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 2.0rem;
    position: relative;
    width: 100%;
}

.logo {
    color: #003057 !important;
    text-decoration: none !important;
}